
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Item</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"

      class="list-group-item clearfix"
      *ngFor="let brand of brands">
      <div class="pull-right col-xs-3">
        <div class="text-left">
          <h4 class="list-group-item-heading">{{ brand.name }}</h4>
          <p class="list-group-item-text">{{ brand.description }}</p>
        </div>

      </div>
      <span class="pull-left">
        <img
          [src]="brand.imagePath"
          alt="{{ brand.name }}"
          class="img-responsive"
          style="max-height: 50px; border-radius: 5px">
      </span>
    </a>
    <app-brand-item></app-brand-item>
  </div>
</div>

