<!--<p>top-choices works!</p>-->
<div class="flex-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="top-choices">


        <app-brand-list></app-brand-list>
        <app-brand-detail></app-brand-detail>


<!--        <div class="box">-->
<!--          -->
<!--          <a href="#">-->
<!--            -->
<!--&lt;!&ndash;            <img class="top-choice-img" src="assets/img/itea.png" alt="itea" width="200" height="100">&ndash;&gt;-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="box">-->
<!--          <a href="#">-->
<!--&lt;!&ndash;            <img class="top-choice-img" src="assets/img/yifang2.jpg" alt="itea" width="200" height="100">&ndash;&gt;-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="box">-->
<!--          <a href="#">-->
<!--&lt;!&ndash;            <img class="top-choice-img" src="assets/img/sharetea.jpg" alt="itea" width="200" height="100">&ndash;&gt;-->
<!--          </a>-->
<!--        </div>-->


      </div>
    </div>
  </div>
</div>
